@font-face {
    font-family: archia;
    src: url(../fonts/archia-medium-webfont.woff2);
}

html {
    overflow-x: hidden;
    font-family: 'archia', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    color: #cacaca;
    letter-spacing: 1px;
    font-family: 'archia', sans-serif;
}

body {
    letter-spacing: 1px;
    font-family: archia;
    background-color: #161625!important;
}

.bg-dark-custom {
    background-color: #1e1e30;
}

.dark-inner-content {
    background-color: #bdbdbd !important;
}

.table-container {
    margin-top: 30px;
}

.card-container {
    padding: 20px;
    color: #007bff;
    height: auto;
    background-color: #0093fa26;
    margin-top: 30px;
    border-radius: 7px;
}

div {
    font-family: archia;
}

.card-title {
    color: #007bff;
    /* padding: 10px; */
}

.ag-pivot-off .ag-header-cell-label {
    color: white;
    background-color: #1e1e30;
}

.banner-container {
    background-color: #eff2f7;
}